.loginBox {
    position: absolute;
    width: 300px;
    height: 130px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 25px;
    margin: 25px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    text-align: left;
}

.loginTitle {
    text-align: center;
    background-color: lightgrey;
    margin-bottom: 25px;
}

.buttonAction {
    margin-top: 20px;
    margin-left: 20px;
}

.button {
    float: right;
    padding-right: 30px;
}

td {
    padding-left: 25px;
}

label {
    float: left;
    margin-right: 20px;
}

button {
	margin-left: 20px;
}

.comments {
    width: 700px;
    height: 200px;
    overflow: scroll;
}

.score {
    border: 2px solid black;
}

.summary {
    margin: 10px;
}

.thankYou {
    text-align: center;
    margin: 10px;
    margin-top: 20px;
    font-size: 25px;
}

.finishButton {
    text-align: center;
    margin: 10px;
}
